body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F5F9;
    margin: 0;
    height: 0;
    user-select: none;
}

question {
    color: #262626;
    display: inline-flex;
    font-size: 2rem;
    padding: 1%;
    width: 50vh;
}

next {
    display: none;
    color: rgb(255, 255, 255);
    border: 2px solid #155E75;
    background-color: #0E7490;
    padding: 5px;
    border-radius: 0.3rem;
    font-size: 20px;
    place-self: end;
}

next:hover {
    cursor: pointer;
}

#container {
    position: relative;
    display: grid;
    margin: 10rem;
    justify-content: center;
    bottom: 3vh;
}

.box {
    display: grid;
    background-color: #e5e5e5;
    padding: 1rem;
    border: 0.2rem solid #075985;
    border-radius: 0.9rem;
}

answerList {
    display: grid;
    width: 50vh;
    margin: 2%;
}

answerList>.answer {
    cursor: grabbing;
}

.answer {
    width: 27.5rem;
    padding: 2%;
    font-size: 1.4rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #262626;
}

.answerBorderLeft {
    border-left: 1px solid #1E3A8A;
    border-left-width: thick;
}

.message {
    display: block;
    margin: 5%;
    border: 1px solid #075985;
    padding: 2%;
    background-color: #0369A1;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #d1d1d1;
}

button {
    height: 7vh;
    font-size: 100%;
    border: none;
    border: 1px solid #075985;
    border-radius: 20px;
    margin-right: 0.4vh;
    padding: 3%;
}

button:hover {
    background-color: #075985;
    cursor: pointer;
    color: white;
}

.inputfield {
    border: none;
    background: transparent;
    text-align: center;
    border-radius: 4px;
    padding: 2%;
    border-bottom: 2px dotted #075985;
    padding-block: 0px;
    padding-inline: 0px;
}

.inputfield:focus {
    outline: none;
}

.languages {
    margin-bottom: 5%;
}

.successChoiceElement {
    color: #16A34A;
    border-left-color: #6EE7B7;
    border-width: thick;
}

.successInputElement {
    color: #16A34A;
    border-color: #16A34A;
}

.successBg {
    color: #6EE7B7;
    border: 1px solid #6EE7B7;
    background-color: #3c8351;
}

.successBox {
    border: 0.2rem solid #6EE7B7;
}

.failureChoiceElement {
    color: #a31616;
    border-left-color: #e76e6e;
    border-width: thick;
}

.failureInputElement {
    color: #a31616;
    border-color: #a31616;
}

.failureBg {
    color: #e76e6e;
    border: 1px solid #e76e6e;
    background-color: #833c3c;
}

.failureBox {
    border: 0.2rem solid #e76e6e;
}

@media screen and (max-width: 980px) {
    #container {
        position: fixed;
        margin: 0;
        top: 1px;
        height: 46.5rem;
        width: 101.3%;
        justify-content: inherit;
    }

    .box {
        width: 90%;
    }

    question {
        width: 36vh;
    }

    answerList {
        width: 38vh;
    }

    .message {
        height: 29%;
    }

    .answer {
        width: 100%;
    }

    .inputfield {
        margin-bottom: 45%;
    }
}